# --- Lyzr AI Settings ---
LYZR_API_KEY=sk-default-pfYkVvMAUvqY9zov2BuX6NHfifMxByC7
OPENAI_API_KEY=

# --- Search API Settings ---
SERPAPI_API_KEY=curl "https://app.zenserp.com/api/v2/search?q=Pied%20Piper" \
	-H "apikey: 78677110-2b56-11f1-967e-91db4108f8d7"

# --- Vector Database Settings ---
# Use ":memory:" for local testing or a Qdrant Cloud URL
QDRANT_URL=https://65ef040d-7be3-48d7-a38d-1b4c2a8ad405.eu-west-1-0.aws.cloud.qdrant.io:6333
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.kdHN9-aDPOHweQZFQYIBR5X02J0gaUtENh0gh2Wux38

# --- Google Sheets Settings ---
# The name of your Google Sheet
GOOGLE_SHEET_NAME=Networking_SDR_Leads
# Path to your Google Service Account JSON file
GOOGLE_CREDENTIALS_FILE=credentials.json

# --- Server Settings ---
PORT=8000
HOST=0.0.0.0
